* {
    padding: 0;
    margin: 0;
}

.contactline {
    font-size: 12px;
    width: 100%;
    height: 25px;
    background-color: #39bcb2;
    color: white;
    padding: 3px 10%;
    box-sizing: border-box;
}

.contactline a {
    color: white;
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}

.contactline a:hover {
    text-decoration: underline;
}

.contactlineleft {
    float: left;
}


.contactlineright {
    float: right;
}



.bodytitle {
    background-color: rgb(43, 204, 182);
    padding: 22px 0;
    color: white;
    margin: 0 auto;
}

.bodytitle h1 {
    font-weight: 100;
}



.innermainwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    box-sizing: border-box;
}



.maincontentarticle {
    width: 71%;
    min-width: 300px;
    min-height: 400px;
    height: fit-content;
}

.maininfo1 {
    margin: 5px 0;
    box-sizing: border-box;    
}

.innerinfo {
    min-height: 350px;
}



.maincontentsidebar {
    width: 20%;
    min-width: 350px;
    min-height: 400px;
    height: fit-content;
    background-color: none;
    display: flex;
    justify-content: flex-end;
}


.articleimg1 {
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    height: fit-content;
    height: fit-content;
    background-color: #ddd;
    overflow: hidden;
}

.articleimg1 img {
    width: 100%;
}

.innerinfo {
    padding: 30px 0;
    color: #999;
}

.maininfosidecard {
    background: rgb(43, 204, 182);
    width: 250px;
    height: 400px;
    float: right;
    margin-left: 10px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.3));
    color: white;
    text-align: center;
}

.maininfosidecard img {
    width: 85%;
    height: 300px;
    margin: 15px 7.5%;
}

.innerinfo h3 {
    font-weight: 90;
    color: rgb(95, 7, 88);
}

.innerinfo p {
    margin: 30px 0;
    font-size: 13px;
}




.medicalinfo {
    background-color: rgb(43, 204, 182);
    width: 75%;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 14px;
    min-height: 500px;
    padding: 0 20px;
    color: white;
}

.medicalinfo h2 {
    font-weight: 90;
    padding: 20px 0px;
}

.medicalinfo p {
    font-size: 13px;
    margin: 8px 0;
}


.searchwithicon {
    position: relative;
}

.searchwithicon input {
    height: 33px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 5px;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
}


.searchwithicon .searchicon {
    position: absolute;
    color: white;
    top: 0px; 
    right: 0px;
    display: block;
    background-color: rgb(29, 139, 125);
    padding: 8px;
    cursor: pointer;
}


.medicalinfo li  {
    padding: 15px 0;
    list-style-type: none;
    border-bottom: 1px solid white;
}

.medicalinfo li:last-child {
    border-bottom: none;
}

.medicalinfo a  {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.medicalinfo a:hover {
    color: rgb(29, 139, 125)
}

.medinforightarrow {
    color: white;
    padding: 0 5px;
    font-size: 13px;
    font-size: 10px;
}


.cardrow {
    width: 100%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}


.cardrowcontent {
    min-width: 150px;
    max-width: 200px;
    width: 25%;
    height: 180px;
    color: rgb(43, 204, 182);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
    font-size: 13px;
    background-color: rgba(47, 168, 152, 0.07);
    transition: 300ms;
    margin-right: 20px;


}

.cardrowcontent:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.cardrowimgcont {
    width: 100%;
    height: 140px;
    background: white;
    overflow: hidden;
}

.cardrowdescription {
    box-sizing: border-box;
    padding: 10px 0;
}
.cardrowimgcont img {
    width: inherit;
    height: inherit;
    transition: 500ms ease;
}

.cardrowimgcont:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.servicesbottomdiv {
    font-size: 13px;
    color: #aaa;
    margin: 20px 0;
    
}

.servicesbottomdiv h3 {
    font-weight: 90;
    color: rgb(95, 7, 88);
}

.bottomdivbottom {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.bottomdivleft {
    min-width: 200px;
    width: 30%;
    max-width: 250px;
    width: 400px;
}


.bottomdivright {
    width: 69%;
    min-width: 300px;
    height: 600px;
}

.bottomdivbottom {
    justify-content: space-between;
}

.servicelinks {
    width: 100%;
    padding: 15px 0;
    margin: 2px 0;
    border: none;
    outline: none;
    background-color: #eee;
    color: rgb(43, 204, 182);
    transition: 300ms;
    text-align: left;
    padding-left: 15px;;
}

.servicelinks:hover {
    text-decoration: underline;
    color: rgb(95, 7, 88);
}

.guidelineslistit a {
    color: rgb(43, 204, 182);
    text-decoration: none;
    font-size: 13px;
    transition: 300ms;
}

.guidelineslistit a:hover {
    color: rgb(95, 7, 88);
}

.guidelineslistcont {
    list-style-position: inside;
    padding-left: 10px;
}

.guide1left {
    width: 47%;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    height: 200px;
    
}

.guide1right {
    width: 47%;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    height: 200px;
    
}

.guideicon {
    width: 60px;
    height: 60px;
    background-color: rgb(43, 204, 182);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    float: left;
    margin: 0 10px;
}

.guide1right, .guide1left {
    display: flex;
    align-items: center;
    padding: 0 2%; 
    box-sizing: border-box;
    font-size: 13px;
}

.guidedescription {
    width: 100%;
    height: 110px;
    padding: 10px;
    background-color: white;
}

.guidelink1 {
    display: block;
    float: right;
    margin: 10px 5px;
    text-decoration: none;
    color: rgb(43, 204, 182);
    transition: 300ms;
}

.guidelink1:hover  {
    color: rgb(95, 7, 88);
}

.guidelink1:hover + .guideicon {
    background: rgb(95, 7, 88);
}



.cardrowinnercontenth2 {
    text-decoration: none;
    color: rgb(43, 204, 182);
    font-weight: 70;
    transition: 300ms;
}

.cardrowinnercontenth2:hover {
    color: rgb(95, 7, 88);
}

.cardrowinnercontenth2 h2 {
    font-weight: 90;
}

.cardrowcontent1 {
    background-color: white;
    padding: 10px;
}


.cardrowinnercontentp {
    color: #aaa;
}


.insurancelistcont{
    margin: 15px 0;
}

.insurancelistcont ul {
    padding: 10px;
    padding-left: 30px;
    font-size: 13px; 
    line-height: 30px;
}





@media screen and (max-width:700px) {
    .header {
        display: none;
    }

    .innermainwrapper {
        flex-direction: column;
        justify-content: center;
        
    }

    .cardimgcont {
        width: 100%;
    }

    .maincontentsidebar {
        min-width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .medicalinfo {
        width: 100%;
    }

    .cardimgcont {
        min-width: 100%;
        max-width: 250px;
        margin: 10px auto;
        
        overflow: hidden;
    }

    .maincontent {
        width: 90%;
        margin: 30px auto;
    }

    .maincontentarticle {
        width: 100%;
    }

    .bottomdivbottom {
        flex-wrap: wrap;
        justify-content: center;
    }


    
    
}












